#section1 {
  background-color: #fcd8da;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#section1 .nav-menu {
  font-family: var(--fontB);
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 30px;
  font-size: 2.5rem;
}

#section1 .nav-menu a {
  text-decoration: none;
  cursor: pointer;
}

.circle {
  fill: #ed412d;
}

.clover {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #3e82f7;
}

.cloud {
  fill: #2da94f;
  stroke: #2da94f;
}
.x {
  fill: #fdbd00;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bg svg {
  display: block;
  width: 360px;
  height: 360px;
  position: absolute;
  transform: translateZ(0px);
  will-change: transform; /* will-change 속성을 사용하여 변환 성능 최적화 */
}

#section1 .sun {
  position: absolute;
  z-index: 1000;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  width: 100%;
}

#section1 .sun svg {
  width: 100%;
}
#section1 .sun .glass {
  display: none;
}
#section1 .sun .noon {
  animation: no 2s infinite ease;
}

@keyframes no {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
#section1 .main_img {
  width: 150px;
  height: 170px;
  background-image: url("../img/me.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  position: absolute;
  top: 68%;
  right: -1.7%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#section1 .contact {
  position: absolute;
  right: 1vw;
  top: 82%;
  transform: translateY(-50%);
  width: 200px;
  height: 60px;
  background-color: #ff99c8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black200);
  font-size: 20px;
  font-weight: normal;
  border-radius: 5px;
  border: 3px solid var(--black);
  font-family: "Erica One";
  z-index: 20;
}
.main-img.shrink {
  width: 200px;
  height: 60px;
  top: 82%;
  left: auto;
  right: 1vw;
  transform: translateY(-50%);
}
.contact img {
  display: none;
}
.contact.show img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section1 .blue-bar {
  width: 100%;
  height: 80px;
  background-color: #37bff3;
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section1 .title {
  font-size: 10vw;
  padding-bottom: 45vh;
  font-family: var(--fontS);
  text-transform: uppercase;
  z-index: 1000;
  color: #f1574f;
  -webkit-text-stroke: 2px var(--white);
}
#section1 .sun {
  width: 450px;
  margin: 0 auto -30px;
}
#Layer_1 {
  position: relative;
  z-index: 1000;
}
#Layer_2 {
  animation: rotation 4s infinite;
}
#Layer_3 {
  animation: upDown 3s infinite;
  position: relative;
  z-index: -1;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-30px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

#section2 {
  background-color: #fcd8da;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  position: relative;
}

#section2 > div {
  font-size: 9.5vw;
  line-height: 0.8;
  /* background-color: #ccc; */
  font-family: var(--fontB);
  text-transform: uppercase;
  padding-left: 1.3vw;
  position: relative;
}
#section2 > div .box1 {
  width: 35vw;
  height: 7.5vw;
  margin: 0 10px;
  display: inline-block;
  background-color: #000;
  text-align: center;
  padding-top: 0.2vw;
  color: #000;
  border-radius: 10px;
}
#section2 > div .box2 {
  width: 20vw;
  height: 7.5vw;
  margin: 0 10px;
  display: inline-block;
  background-color: #000;
  text-align: center;
  padding-top: 0.2vw;
  color: #000;
  border-radius: 10px;
}
#section2 > div .box3 {
  width: 27vw;
  height: 7.5vw;
  margin: 0 10px;
  display: inline-block;
  background-color: #000;
  text-align: center;
  padding-top: 0.2vw;
  color: #000;
  border-radius: 10px;
}
#section2 > div .box4 {
  width: 21vw;
  height: 7.5vw;
  margin: 0 10px;
  display: inline-block;
  background-color: #000;
  text-align: center;
  padding-top: 0.2vw;
  color: #000;
  border-radius: 10px;
}

#section2 .pink_flower {
  width: 10vw;
  height: auto;
  display: inline-block;
  position: relative;
  top: -1vw;
}
#section2 .blue_flower {
  width: 120px;
  height: 120px;
  display: inline-block;
}

/* .blue_flower_scale {
  animation: scale 3s ease-in-out infinite;
} */

.bar-pattern1 {
  width: 97%;
  border: 0;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--blue);
  background-image: url(../img/pattern.webp);
  background-position: 50%;
  background-repeat: repeat;
  background-size: 100px 100px;
  border: 3px solid #000;
  border-radius: 6px;
  height: 27px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pink_flower_rotate {
  animation: rotate 5s linear infinite;
  transform-origin: 100px 100px; /* SVG의 중심 */
}

.blue_flower_scale {
  animation: scale 3s ease-in-out infinite;
}

#section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fcd8da;
  width: 100%;
  height: 100%;
  align-items: center;
}

#section3 h1 {
  font-family: var(--fontS);
  text-align: center;
  color: #ed412d;
  position: relative;
  z-index: 1;
  font-size: 6.5rem;
  -webkit-text-stroke: 2px var(--white);
  margin-top: -6vh;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-container img {
  width: 450px;
  height: 450px;
  position: relative;
  z-index: 1;
  margin-top: 10vh;
}

#section3 p {
  font-family: var(--fontH);
  font-weight: 700;
  text-align: center;
  line-height: 2;
  font-size: 23px;
  margin-top: 4vw;
  margin-bottom: 45vh;
}

#section3 em {
  position: relative;
  z-index: 1;
}

#section3 em::before {
  content: "";
  background-color: #f1574f80;
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 30px;
}

#section3 .exhibition {
  width: 200px;
  height: auto;
  position: absolute;
  left: -20%;
  top: 10%; /* p 태그의 중간에 오도록 조정 */
  transform: translateY(-50%);
}

#section3 .smile-pink {
  margin-left: 3vw;
  margin-bottom: 150px;
  width: 35px;
  height: auto;
}

.content-container {
  display: flex;
  position: relative;
}

.text-and-icons {
  position: relative;
  padding: 0 50px;
}

.coffee-icon {
  width: 200px;
  height: auto;
  position: absolute;
  left: 50%; /* p 태그의 중앙에서 이동 */
  top: 60%; /* 적절히 조정하여 위치를 맞추세요 */
  transform: translateX(-50%);
}

.photo {
  width: 200px;
  height: auto;
  position: absolute;
  right: -25%; /* 적절히 조정하여 위치를 맞추세요 */
  top: 30vh; /* p 태그의 중간에 오도록 조정 */
  transform: translateY(-50%);
}

#section3 .purple-bar {
  width: 100%;
  height: 80px;
  background-color: var(--purple);
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section4 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ff99c8;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

#section4 .bar-pattern2 {
  background-color: var(--blue);
  background-image: url(../img/pattern.webp);
  background-position: 50%;
  background-repeat: repeat;
  background-size: 100px 100px;
  border: 3px solid #000;
  border-radius: 6px;
  height: 27px; /* Match the height of the image */
  width: 80vw; /* Match the width of the image */
  position: absolute;
  transform: translateY(-50%);
  z-index: 0;
  top: 3%;
}

#section4 .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22vh;
  position: relative;
  top: 15vh; /* bar-pattern2의 높이 아래로 이동 */
}

#section4 .title4 {
  font-family: var(--fontS);
  text-align: center;
  color: #a564a8;
  position: relative;
  z-index: 1;
  font-size: 6.5rem;
  -webkit-text-stroke: 2px var(--white);
  margin-bottom: 70px;
  position: relative;
  top: 50px;
  width: 100%;
  padding: 10px;
}

#section4 .flower-icon {
  width: 250px;
  height: auto;
  margin-top: 5%;
}

#section4 .flower-icon.left {
  transform: scaleX(-1); /* 왼쪽 아이콘 수평 뒤집기 */
}

#section4 .flower-icon.right {
  transform: scaleX(-1); /* 오른쪽 아이콘 원래대로 */
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* 각 스킬 항목 사이의 간격 */
}

#section4 .skills-container .skill-name {
  color: var(--black);
  font-family: var(--fontB);
  font-size: 3rem;
}

#section4 .skills-container .skill-name-reverse {
  color: var(--black);
  font-family: var(--fontB);
  font-size: 3rem;
  text-align: right;
}

#section4 .skills-container .desc {
  text-align-last: left;
}

#section4 .skills-container .desc-reverse {
  text-align-last: right;
}

.skill-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.skill-item.reverse {
  flex-direction: reverse;
}

.skill-image {
  margin-top: 5vh;
  width: 764px;
  height: 464px;
  object-fit: cover; /* 이미지 비율 유지 */
}

.skill-description {
  color: #3d3d3d;
  margin-right: 3vw;
  margin-left: 3vw;
  font-family: var(--fontH);
  font-weight: 700;
  font-size: 1.3rem;
  padding: 20px;
  text-align: left;
  flex: 1;
}

#section4 .bar-pattern1 {
  width: 96%;
  border: 0;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--blue);
  background-image: url(../img/pattern.webp);
  background-position: 50%;
  background-repeat: repeat;
  background-size: 100px 100px;
  border: 3px solid #000;
  border-radius: 6px;
  height: 27px;
  margin-bottom: 20vh;
}

#section4 .purple-bar {
  width: 100%;
  height: 80px;
  background-color: var(--purple);
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section3 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fcd8da;
  width: 100%;
  height: 100%;
  align-items: center;
}

#section5 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fcd8da;
  width: 100%;
  height: 100%;
  align-items: center;
}

#section5 .title5 {
  font-family: var(--fontS);
  text-align: center;
  color: #a564a8;
  position: relative;
  z-index: 1;
  font-size: 6.5rem;
  -webkit-text-stroke: 2px var(--white);
  margin-bottom: 70px;
  position: relative;
  top: 50px;
  width: 100%;
  padding: 10px;
}

#section5 p {
  font-family: var(--fontH);
  font-weight: 700;
}
